body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}